:root {
  --background: GhostWhite;
  --black: #1c1c1c;
  --grey: #bababa;
}

html {
  box-sizing: border-box;
  color: white;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
}

a {
  color: var(--black);
}

hr {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

p {
  line-height: 1.6em;
  text-align: left;
}

footer {
  width: 100%;
  height: 40em;
  background-color: var(--black);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-container {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 1.2em;
  pointer-events: none;
  z-index: 999;
}

.nav-button {
  display: flex;
  pointer-events: auto;
  width: 4em;
  margin-bottom: 1em;
  height: 4em;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  /* box-shadow */
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 2 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;
}

.nav-button img {
  width: 100%;
  position: absolute;
}

.nav-button div {
  position: absolute;
  font-size: 0.7em;
  font-weight: 600;
  text-align: center;
  color: black;
}

/*////////////////////////// home */

.flex-wrapper {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.flex-wrapper h1 {
  pointer-events: none;
  width: 90%;
  text-align: center;
  font-size: min(5vw, 6em);
  font-weight: 800;
  position: absolute;
  text-shadow: 0px 0px 0.1em rgba(0, 0, 0, 0.8);
}

.guidelines-section {
  position: relative;
  min-width: 4vw;
  width: 0;
  overflow: hidden;
  flex-grow: 1;
  height: 100vh;
  transition: width 0.35s;
}

.guidelines-section:hover {
  width: 12vw;
}

.preview-video-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.preview-video {
  width: 100vh;
  height: 100vh;
}

.duotone {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.duotone-light {
  mix-blend-mode: darken;
}

.duotone-dark {
  mix-blend-mode: overlay;
}

.sectionTitle-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 56px;
}

.sectionTitle-container h2 {
  text-align: center;
  text-shadow: 1px 1px 0.2em rgba(0, 0, 0, 0.2);
  letter-spacing: 0.05em;
  font-size: 1.2vw;
  font-weight: 700;
  margin-bottom: 0;
  transform-origin: 70% center;
}

.fadeIn {
  width: 0%;
  animation-name: expand;
  animation-duration: 0.2s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

/*//////////////////////////// grid */

.grid {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: solid var(--background) 1px;
  background-color: black;
}

.handler {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--background);
  border: solid var(--background) 2px;
  cursor: grab;
  transition: transform 0.2s, background-color 0.3s;
}

.handler:hover {
  transform: scale(1.3);
}

.handler:active {
  transition: transform 0s;
  transform: scale(1.15);
  cursor: grabbing;
}

.grid-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
}

.double-container {
  display: flex;
  align-items: stretch;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.grid-unit {
  position: relative;
  border: solid var(--background) 1px;
  overflow: hidden;
}

.half {
  flex-basis: 50%;
}

.grid-unit video {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 101%;
}

.content-container {
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: stretch;
  position: absolute;
}

.bottom-left {
  bottom: 0px;
  left: 0px;
}

.bottom-right {
  bottom: 0px;
  right: 0px;
}

.card {
  background-color: var(--background);
  height: auto;
  border-radius: 0.5em;
}

.data-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data-card .column-container {
  flex-grow: 1;
}

.card-header {
  width: 100%;
  color: var(--black);
  font-size: 1em;
  font-weight: 700;
  margin: 0px;
  padding: 0.5em 1em;
  border-bottom: 1px var(--grey) solid;
}

.card h5 {
  line-height: normal;
  font-weight: 700;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  margin-bottom: 0.5rem;
  color: black;
}

.card-label {
  display: inline-block;
  border-radius: 0.25em;
  color: var(--background);
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  font-size: 0.6em;
  padding: 0.5em 0.8em;
}

.card-info {
  display: flex;
  flex-basis: 30%;
}

.card-info-column {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  padding: 1em 0.5rem;
  justify-content: center;
  align-items: center;
  border-right: 1px var(--grey) solid;
}

.card-info-icon {
  width: 2em;
  height: 2em;
  border-radius: 100%;
  margin-bottom: 0.2rem;
  background-color: var(--grey);
}

.card-info-label {
  color: var(--black);
  font-size: 0.7em;
}

.card-info-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: inline-block;
  position: absolute;
  padding: 0.1em 0.2em;
  top: 0;
}

.card-info-column p {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
  font-weight: 700;
  font-size: 0.8em;
}

/*//////////////////////////////////// controller */

.play-button-large-container {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s;
}

.play-button-large-container:hover {
  background-color: transparent;
}

.play-button-large {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 15vw;
  transition: opacity 0.2s;
}

.play-button-large img {
  width: 50%;
  height: auto;
}

.controller-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: var(--black);
}

.slider-container {
  align-self: flex-start;
  width: 100%;
  cursor: pointer;
  position: absolute;
  transition: transform 0.2s;
}

.slider-padding {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 16px;
}

.slider-container:hover {
  transform: scaleY(2);
}
.slider-container:hover .controller-handler {
  transform: scale(2, 1);
}

.slider-background {
  width: 100%;
  background-color: rgb(80, 80, 80);
  border-left: 2px #1c1c1c solid;
  border-right: 2px #1c1c1c solid;
}

.controller-slider {
  position: relative;
  height: 4px;
  background-color: blue;
  transition: transform 0.2s;
}

.controller-handler {
  background-color: blue;
  border-radius: 100%;
  position: absolute;
  top: -2px;
  left: 0em;
  width: 8px;
  height: 8px;
  transform: scale(0);
  transition: transform 0.2s;
}

.controller-button {
  margin-top: 4px;
  cursor: pointer;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.controller-button img {
  height: 24px;
  width: 24px;
}

.volume-container {
  margin-left: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.volume-container:hover .volume-slider-container {
  opacity: 1;
  width: 100px;
  transition: width 0.2s;
}

.volume-slider-container {
  width: 0px;
  padding: 8px 6px;
  opacity: 0;
  transition: opacity 0.2s, width 0.3s;
  overflow-x: hidden;
}

.volume-slider-background {
  width: 80px;
  height: 4px;
}

.volume-slider {
  position: relative;
  width: 80px;
  height: 4px;
  background-color: var(--background);
}

.volume-handler {
  position: absolute;
  top: -4px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--background);
}

.time-container {
  pointer-events: none;
  color: var(--background);
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8em;
  position: absolute;
  right: 0;
  margin: 2rem;
}

@keyframes expand {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/*////////////////////////// about */

.about-container {
  color: var(--black);
  overflow: hidden;
  width: 100%;
  padding-left: 6.4em;
}

.about-header-container {
  width: 100%;
  padding-left: 6.4em;
  color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.about-header {
  width: 100%;
  background-color: var(--black);
  border-bottom: 1px solid var(--background);
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.about-header h1 {
  margin: 0;
  text-align: left;
  font-size: 1.6em;
  padding-right: 6.4em;
  padding-left: calc(12% + 1rem);
}

.wrapper {
  width: 100%;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 5em;
  padding-bottom: 5em;
  border-left: 1px grey solid;
}

.wrapper h3,
.onboarding-wrapper h3 {
  position: relative;
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: normal;
  text-align: left;
  padding: 1rem;
}

.column-container {
  display: flex;
}

.column {
  text-align: left;
  width: 50%;
  padding: 1rem;
}

.card-column {
  padding: 1rem 0.8em;
  font-size: 0.85em;
  color: var(--black);
}

.column p {
  line-height: 1.6em;
}

.phase2-title {
  font-family: "Trispace", sans-serif;
  position: absolute;
  top: 0px;
  left: 0px;
  color: var(--background);
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.2s;
}

.phase2-title h3 {
  line-height: 1em;
  font-size: 1.8em;
  margin: 0;
  padding: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
}

.phase2-title h4 {
  line-height: 1.3em;
  font-size: 0.8em;
  margin: 0;
  padding: 5% 5%;
}

.anchors-container {
  position: fixed;
  top: 10em;
  left: 0em;
  margin: 0.2em 1.4em;
}

.anchors-container ul {
  margin: 0px 0px;
}

.anchors-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  margin-top: 1em;
  font-size: 0.7em;
  border-radius: 100%;
  background-color: var(--black);
  color: var(--background);
  text-align: center;
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  padding: 1rem;
}

.flex-paragraph {
  text-align: left;
  width: 48%;
  display: flex;
  font-size: 1.2em;
  align-items: baseline;
  justify-content: flex-start;
}

.number {
  display: inline;
  font-size: 1.2em;
  font-weight: 400;
  padding: 0.1em 0.3em;
  margin-right: 0.8em;
  border: 1px var(--black) solid;
}

.onboarding-wrapper {
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 6em 20%;
}
